html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(242, 235, 227);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(108, 114, 137);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.desktopImg,
.mobileImg {
  max-width: 22rem;
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

.category {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5em;
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.heading {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(28, 35, 43);
  margin-top: 0.25em;
}

.description {
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1em;
}

.prices {
  display: flex;
  align-items: center;
}

.newPrice {
  font-family: "Fraunces", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: rgb(60, 128, 103);
  margin: 0.25em 0.5em 0.5em 0;
}

.oldPrice {
  text-decoration: line-through;
  font-weight: 500;
}

.btn {
  background-color: rgb(60, 128, 103);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(45, 100, 75);
}

.btn .responsive-svg {
  width: 10em;
  height: 10em;
}

@media (max-width: 376px) {
  .desktopImg {
    display: none;
  }

  .mobileImg {
    display: block;
  }
}

@media (min-width: 377px) {
  .mobileImg {
    display: none;
  }

  .desktopImg {
    display: block;
    border-radius: 1rem 0 0 1rem;
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  .card {
    display: flex;
    flex-direction: row;
  }

  .cardWrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 0 1rem 1rem 0;
  }
}
